body {
  height:100vh;
  background-color: blue;
  background-image: linear-gradient(to bottom right, rgb(188, 216, 255), rgb(217, 238, 255));
  font-family: arial, sans-serif;
}

.navbar-main h1 {
  padding: 0.66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

.warningBanner {
  margin-top: 1rem;
  text-align: center;
}
